

.formatbox{
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

h1{
	font-size: 400%;
}

h2{
	border: 3px solid black;
	border-bottom: 3px solid black;
}

.title{
	border:0px solid black;
	border-bottom: 0px solid black;
}

body{
	background: #ffffff;
	font-family: Arial, Verdania, sans-serif, ;
}

p{
	line-height: 1.6 ;
}
img{
	width:20vw;
	height:30vh;
	padding:5px;
	border: 3px solid black;
	border-bottom: 3px solid black;
}

a{
	color:teal;
}

contactbox{
	font-size: 100%;
}

.container{
	max-width: 900px;
    margin: 0px, auto;
}
